<app-headerpage *ngIf="showHeader" [titleOfPage]="'Price'" [link]="'price'"></app-headerpage>


<div class="price">
  <div class="container">
    <div class="section-header text-center">
      <p  style="color: var(--color-gray);">Our Best Pricing</p>
      <h2 class=" mb-5     text-center">We Provide Best Price in the City</h2>
    </div>
    <div class="row">
      <ng-container *ngFor="let item of priceItems">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="price-item">
            <div class="price-img">
              <img [src]="item.image" [alt]="item.title" />
            </div>
            <div class="price-text">
              <h2>{{ item.title }}</h2>
              <h3>{{ item.price }}</h3>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-booking></app-booking>
