
<div class="hero mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="hero-text">
                    <h1>Hair Pilot for Salon Website</h1>
                    <p>
                        Find Your Perfect Look Haircut with AI 
                    </p>
                    <div>
                        <a class="btn rounded-5 btn-outline-light z-1" routerLink="/book"> Book Now..</a>
                        <a class="btn rounded-5 btn-outline-light z-1 mx-2" routerLink="/face"> Try Ai Now..</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-none d-md-block">
                <div class="hero-image pt-5 mt-2">
                    <img src="./../assets/img/hero.png" alt="Hero Image">
                </div>
            </div>
        </div>

    </div>
</div>
<app-about [showHeader]="false"></app-about>
<app-service [showHeader]="false"></app-service>
<app-price [showHeader]="false"></app-price>
<app-booking [showHeader]="false"></app-booking>
<app-contact [showHeader]="false"></app-contact>

