<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg rounded-4">
        <div class="card-body p-4">
          <h3 class="bookh3">Book Your Appointment</h3>

          <div *ngIf="message" class="alert alert-info text-center rounded-3 py-2">
            {{ message }}
          </div>

          <form [formGroup]="form">
            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                placeholder="Enter your name"
              />
            </div>

            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input
                type="text"
                id="phone"
                formControlName="phone"
                class="form-control"
                placeholder="Enter your phone"
              />
            </div>

            <div class="mb-3">
              <label for="date" class="form-label">Date</label>
              <input
                type="date"
                id="date"
                formControlName="date"
                (change)="onDateChange()"
                class="form-control"
              />
            </div>

            <div class="mb-3">
              <label for="slot" class="form-label">Select Time</label>
              <select
                formControlName="slot"
                id="slot"
                class="form-select"
              >
                <ng-container *ngFor="let slot of availableSlots">
                  <option *ngIf="isSlotAvailable(slot)" [value]="slot">
                    {{ slot }}
                  </option>
                </ng-container>
              </select>
            </div>

            <div class="mb-3">
              <button type="button" class="btn btn-outline-primary w-100" (click)="suggestBestTime()">
                🧠 Suggest Best Time
              </button>
            </div>

            <div class="d-grid">
              <button type="button" class="btn btn-success" (click)="bookSlot()">
                Confirm Booking
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
